.drop_down{
  color:rgb(255, 174, 174);
  background-color: rgb(85, 85, 85);
  padding-left: 30px;
  border-style: ridge;
  border-color: red;
  box-shadow : 0 0px 10px 0 rgb(0, 217, 255), 0 0px 10px 0 rgb(0, 174, 255);
  margin-left : 10px;
  margin-right : 10px;
}
body {
  font-family: Arial, sans-serif;
  margin: 10px;
  width: 520px;
  background-color: rgb(44, 44, 44);
}
label {
  display: block;
  margin-top: 10px;
}
input[type="color"] {
  width: 100%;
}
.rank{
  color :#d9ff00;
  font-size: 11px
}
label, h1, h2, p, span, h4{
  color: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.selected-image-border {
  border: 3px solid red;
  border-radius: 20px;
}
.img_sty, .img_unit{
  border: 3px solid rgb(179, 78, 11);
}
.menu-text {
  display: none !important;
}
.menu{
  background-color: rgb(73, 73, 73);
  padding : 23px;
  box-shadow : 0 0px 10px 0 rgb(0, 217, 255), 0 0px 10px 0 rgb(0, 174, 255);
  -webkit-clip-path: inset(0px -10px -10px -10px);
  clip-path: inset(0px -10px -10px -10px);
  margin-left : 10px;
  margin-right : 10px;
}

select{
	width: 450px;
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.img_unit {
  position: relative;
  display: inline-block;
}

.checked {
  border-color: rgb(0, 217, 255);
}


